In [24]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

from config import g_key
gmaps.configure(api_key=g_key)

In [25]:
cities_csv = "../output_data/cities.csv"
df = pd.read_csv(cities_csv)
df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Kutum,100,SD,1651978290,12,14.2000,24.6667,70.39,5.53
1,Los Aquijes,8,PE,1651978290,73,-14.0967,-75.6908,67.96,3.71
2,Touros,100,BR,1651978291,88,-5.1989,-35.4608,76.57,8.10
3,Christchurch,100,NZ,1651978272,70,-43.5333,172.6333,69.42,16.11
4,Kenai,0,US,1651978292,57,60.5544,-151.2583,57.02,11.50

In [26]:
lat_lng = df[["Lat", "Lng"]]
humidity = df['Humidity']
humidity_max = humidity.max()


fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(lat_lng, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=humidity_max,
                                 point_radius=3)

fig.add_layer(heat_layer)
print(fig)

Figure(layout=FigureLayout(height='420px'))

In [27]:
cities_tempeture = df.loc[(df["Max Temp"] > 70) & (df["Max Temp"] < 80) & (df["Cloudiness"] == 0), :]
cities_tempeture = cities_tempeture.dropna()
cities_tempeture.reset_index(inplace=True)
del cities_tempeture['index']
cities_tempeture.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Natchez,0,US,1651978001,83,31.5604,-91.4032,71.04,0.00
1,Comodoro Rivadavia,0,AR,1651978319,40,-45.8667,-67.5000,71.46,14.97
2,Gallup,0,US,1651978361,15,35.5281,-108.7426,72.36,27.63
3,Tombouctou,0,ML,1651978372,12,20.0000,-3.0000,79.95,13.80
4,Laguna,0,US,1651978374,52,38.4210,-121.4238,70.09,16.11

In [28]:
hotels = []

for i in range(len(cities_tempeture)):
    lat = cities_tempeture.loc[i]['Lat']
    lng = cities_tempeture.loc[i]['Lng']

    params = {"location": f"{lat},{lng}", "radius": 5000, "types" : "lodging", "key": g_key}
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotels.append(jsn['results'][0]['name'])
    except:
        hotels.append(np.nan)
cities_tempeture["Hotel Name"] = hotels
vacation_df = cities_tempeture.dropna()
vacation_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,Natchez,0,US,1651978001,83,31.5604,-91.4032,71.04,0.00,Hampton Inn & Suites Natchez
1,Comodoro Rivadavia,0,AR,1651978319,40,-45.8667,-67.5000,71.46,14.97,Austral Hotel
2,Gallup,0,US,1651978361,15,35.5281,-108.7426,72.36,27.63,Quality Inn & Suites Gallup I-40 Exit 20
4,Laguna,0,US,1651978374,52,38.4210,-121.4238,70.09,16.11,Holiday Inn Express & Suites Elk Grove Central...
5,Cabo San Lucas,0,MX,1651978382,52,22.8909,-109.9124,79.61,1.99,Hotel Tesoro Los Cabos

In [32]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [35]:
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
print(fig)

Figure(layout=FigureLayout(height='420px'))